body {
    background-color: azure;
    font-family: "Oswald";
}

input {
  display: none;
}

section > div {
  display: none;
}

/* the ~ means the second selector does NOT have to immediately follow the first one - it will select all elements that is preceded by the former selector */

#radio-section-0:checked ~ #section-0 > div {
  display: block;
}

#radio-section-1:checked ~ #section-1 > div {
  display: block;
}

#radio-section-2:checked ~ #section-2 > div {
  display: block;
}

@media print {
  @page {
    size: letter;
  }
}